{% extends "base.html" %}
{% block content %}

<div>
  <form id="form_search" name="from_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid" align="center">
        <span class="col-md-12" align="left">
          <span class="col-md-4" style="align-items:left; text-align:left;">
            <select name="order" id="order">
              <option value="desc">등록역순</option>
              <option value="asc">등록순</option>
            </select>
         </span>
         <span class="col-md-6">
	  <input id="search_word" name="search_word" class="form-control form-control-sm w-50" type="text" placeholder="검색어" aria-label="Search">
	 </span>
         <span class="col-md-2">
          {{ macros.m_button_group([['search', '검색'], ['reset_btn', '리셋']]) }}
         </span>
        </span>
       </div>
    </div>
  </form>
 <hr>
</div>
  <div id='page1'></div>
<div>
  <div id="list_div"></div>
  <div id='page2'></div>
</div>


<!-- START: 아이템 수정용 모달 -->
{{ macros.m_modal_start('item_modify_modal', '아이템 수정', 'modal-lg') }}
  <div>
    <form id="item_modify_form" name="item_modify_form">
    {{ macros.setting_input_hidden('item_id', '') }}
    {{ macros.setting_input_text('sample_string', '문자열', value='', desc=['문자열 입력']) }}
    {{ macros.setting_input_int('sample_integer', '숫자', value='', desc=['숫자 입력']) }}
    {{ macros.setting_select_empty('sample_boolean', '옵션', col='3') }}
    {{ macros.setting_input_text('sample_imgurl', '이미지URL', value='', desc=['이미지URL']) }}
    {{ macros.setting_button([['btn_item_save', '저장']]) }}
    </form>
  </div>
{{ macros.m_modal_end() }}
<!-- END: 아이템 수정용 모달 -->

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var current_data = null;
var current_page = 1;
var formData = null;

$(document).ready(function(){
  formData = get_formdata('#form_search');
  request_search('1', true);
});

$("body").on('click', '#page', function(e){
  e.preventDefault();
  var page = $(this).data('page')
  request_search(page, true);
});

$("#search").click(function(e) {
  e.preventDefault();
  request_search('1', true);
});

$("#reset_btn").click(function(e) {
  e.preventDefault();
  document.getElementById("search_word").value = '';
  request_search(current_page, true);
});

function request_search(page, scroll) {
  formData = get_formdata('#form_search');
  current_page = page;
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/web_list',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      if (scroll == true) {
        window.scrollTo(0,0);
      }
      current_data = data // current_data 에 매핑해줘야 global_json_btn 등 동작함
      make_list(data.list)
      make_page_html(data.paging)
    }
  });
}

// 페이지 구성 함수: card ui
function make_list(data) {
  str = "";
  str += m_row_start();
  for (i in data) {
    // 상단
    str += '<div class="col-md-2 col-sm-4 col-6">';
    str += '<div class="card mb-2 box-shadow">';
    // 이미지
    str += '<img class="card-img-top" src="'+data[i].sample_imgurl+'" class="img-fluid img-thumbnail">';
    str += '<div class="card-body" style="padding:2px 1px 2px 1px;">';
    // 텍스트
    str += '<p class="card-text">';
    str += '<strong>' + data[i].sample_string + '</strong><br>';
    str += '<small class="text-muted"></small>';
    str += 'ID: '+data[i].id +' / '+data[i].created_time + '<br>';
    str += 'STR: ' +data[i].sample_string+'<br>';
    str += 'INT: ' +data[i].sample_integer+' / Bool: ' +data[i].sample_boolean;
    str += '</small>';
    str += '</p>';
    str += '<div class="d-flex justify-content-between align-items-center" style="padding:2px 1px 2px 1px;">';

    // global_json_btn: 버튼ID만 맞춰주면 모달창은 자동! - current_data 가 설정되어 있어야 함
    var btn_str = m_button2('global_json_btn', 'JSON', [{'key':'id', 'value':data[i].id}], 'info');
    btn_str += m_button('btn_modify', '수정', [{'key':'idx', 'value':i}]);
    btn_str += m_button2('btn_delete', '삭제', [{'key':'id', 'value':data[i].id}], 'danger');
    str += btn_str
    //str += m_button_group(btn_str); // 버튼을 그룹으로 묶고 싶은 경우

    // 하단
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
  }
  str += m_row_end();
  document.getElementById("list_div").innerHTML = str;
}

$("body").on('click', '#btn_modify', function(e){
  e.preventDefault();
  var idx = $(this).data('idx');
  var data = current_data.list[idx];
  
  document.getElementById('item_id').value = data.id;
  document.getElementById('sample_string').value = data.sample_string;
  document.getElementById('sample_integer').value = data.sample_integer;
  document.getElementById('sample_imgurl').value = data.sample_imgurl;
  make_sample_bool_select(data.sample_boolean);
  $("#item_modify_modal").modal();
});

function make_sample_bool_select(boolean) {
  str = '<select id="sample_boolean" name="sample_boolean" class="form-control form-control-sm">';
  if (boolean == true) {
    str += '<option value="True" selected>True</option>';
    str += '<option value="False">False</option>';
  } else {
    str += '<option value="True">True</option>';
    str += '<option value="False" selected>False</option>';
  }
  str += '</select>'
  document.getElementById("sample_boolean_div").innerHTML = str;
}

$("body").on('click', '#btn_item_save', function(e){
  e.preventDefault();
  var formData = get_formdata('#item_modify_form');
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/modify_item',
    type: "POST",
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: ' +data.msg+ '</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      $('#item_modify_modal').modal('hide');
      request_search(current_page, false);
    }
  });
});

$("body").on('click', '#btn_delete', function(e){
  e.preventDefault();
  item_id = $(this).data('id');
  document.getElementById("confirm_title").innerHTML = "삭제확인";
  document.getElementById("confirm_body").innerHTML = '<strong>아이템을 삭제하시겠습니까?</strong>이 작업은 되돌릴 수 없습니다.<br>삭제하시겠습니까?';
  $('#confirm_button').attr('onclick', "delete_item(item_id);");
  $("#confirm_modal").modal();
  return;
});

function delete_item(item_id) {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/delete_item',
    type: "POST", 
    cache: false,
    data: {item_id:item_id},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: ' +data.msg+ '</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      request_search(current_page, false);
    }
  });
}

</script>    
{% endblock %}
