{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row" style="padding-top: 10px; padding-bottom:10px; align-items: center;">
                <div class="col-sm-3 set-left">
                    <strong>경로</strong>
                </div>
                <div class="col-sm-9">
                    <div class="input-group col-sm-9">
                        <input id="rootPath" name="rootPath" type="text" class="form-control form-control-sm" value="/root/SJVA3/data/vibeDownloader">
                        <div class="btn-group btn-group-sm flex-wrap mr-2" role="group" style="padding-left:5px; padding-top:0px">
                            <button id="btn_add_path" class="btn btn-sm btn-outline-success">경로추가</button>
                            <button id="btn_search" class="btn btn-sm btn-outline-success">조회</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <ul class="nav nav-pills folderList"></ul>
        </div>
        <div class="col w-100 fileList">
            <div style="overflow: auto;height: 800px;">
                <div id="accordion">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="audioPlay">
    <video id="video"></video>
</div>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="{{ url_for('.static', filename='js/modal.js') }}?v={{arg['v'] }}"></script>
<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var user_auth = "{{ arg['gdrive_user_auth'] }}";
var sa_auth = "{{ arg['gdrive_sa_auth'] }}";
var use_av = "{{ arg['use_av'] }}";
var protocol = window.location.protocol;
$(document).ready(function(){
    var socket = io.connect(protocol + "//" + document.domain + ":" + location.port + "/framework");
    //var socket = io.connect("http://" + document.domain + ":" + location.port + "/framework", {transports:['websocket']},  {'force new connection': true});
    socket.on('fileList', function(data){
        if( data.cnt == 0){
            $('#accordion').html("");
        }
        viewFileList(data);
    });
    search_folder($('#rootPath').val());
});
$('#btn_add_path').click((evt) => {
    let add_path = '/';    
    m_select_local_file_modal("경로 선택", '/', 'true', function(result){
      $('#rootPath').val(result);
    });
    return false;
});

$("body").on('click', '#btn_search', function(e){
    e.preventDefault();
    search_folder($('#rootPath').val());
});

function search_folder(path){

    $.ajax({
      url: '/' + package_name + '/ajax/'+sub+'/getFolderList',
      type: "POST", 
      cache: false,
      data: {'path':path},
      dataType: "json",
      success: function (data) {
          if( data.ret == "success" ){
            viewFolderList(data);
          }
      }
    });
}
function viewFolderList(data){
    
    html  = '';
    html += '<li class="nav-item border rounded w-100">';
    html += '<a class="nav-link" href="#" data-path="'+getUpperPath(data.path, 1)+'">...</a>';
    html += '</li>';
    if( data.folderInfo.folder != undefined ){
        for( i = 0 ; i < data.folderInfo.folder.length ; i++ ){
            
            folder = data.folderInfo.folder[i];
            folderName = folder.fullPath.split("/")[folder.fullPath.split("/").length-1]
            html += '<li class="nav-item border rounded w-100">';
                
            if( i == 0 ){
                active = "";
            }else{
                active = "";
            }
            if( folder.subObj == "" ){
                disabled = "disabled";
                active = "";
            }else{
                disabled = "";
            }
            html += '<a class="nav-link '+active+' '+disabled+'" href="#" data-path="'+folder.fullPath+'">'+folderName+'</a>';
            html += '</li>';
        }
    }

    $('.folderList').html(html);
    $("body").off('click', '.folderList .nav-link');
    $("body").on('click', '.folderList .nav-link', function(e){
        e.preventDefault();
        if( !$(this).hasClass("disabled") ){
            $('#accordion').html("");
            if( $(this).data("path") == "" ){
                search_folder("/");
            }else{
                search_folder($(this).data("path"));
            }
        }else{
            alert("마지막 폴더입니다.");
        }
    });
    
    $('#rootPath').val(getUpperPath(data.path, 0));

}
function getUpperPath(path, depth){
    for( i = 0 ; i < depth ; i++){
        path = path.substring(0, path.lastIndexOf('/'));
    }
    return path;
}

function viewFileList(data){
    html  = '';
    file = data;
    i = $('#accordion div.card').length;
    html += '<div class="card">';
    html += '    <div class="card-header" id="heading'+i+'">';
    html += '        <h5 class="mb-0">';
    
    if( i > 0 ){
        show = "";
        collapsed = "collapsed";
    }else{
        show = "show";
        collapsed = "";
    }
    html += '            <button class="btn btn-link '+collapsed+'" >';
    html += '                '+file.name;
    html += '            </button>';
    html += '        </h5>';
    html += '    </div>';
    html += '    <div id="collapse'+i+'" class="collapse '+show+'" aria-labelledby="heading'+i+'" data-parent="#accordion">';
    html += '        <div class="card-body">';
    html += '        <div style="overflow: auto;height: 361px;">';
    html += '           <div class="row">';
    btn_str = m_button('btn_download', '다운로드', [{'key':'path', 'value':data.fullPath}]);
    btn_str += m_button('btn_play', '재생', [{'key':'path', 'value':data.fullPath}]);
    tmp = m_button_group(btn_str);
    html += m_col(3, tmp, "left");
    html += '           </div>';
    html += '          <span style="white-space: pre-wrap;">';
    html += file.metadata[0];
    html += '          </span>';
    html += '        </div>';
    html += '        </div>';
    html += '    </div>';
    html += '</div>';
    
    $('#accordion').append(html);

    $("body").off('click', '#accordion .card-header');
    $("body").on('click', '#accordion .card-header', function(e){
        e.preventDefault();
        $('#accordion div.show').removeClass("show");
        $(this).next().addClass("show");
    });


    $("body").on('click', '#accordion #collapse'+i+' #btn_play', function(e){
        e.preventDefault();
        path = $(this).data("path");
        btnObj = $(this);
        url = protocol + "//" + document.domain + ":" + location.port + "/download_file"+path
        
        if( btnObj.text() == "재생"){
            var videoSrc = url; // <- 테스트 URL 이므로 본인의 URL 작성
            var video = document.getElementById('video');
            video.src = videoSrc; // 동영상경로
            video.addEventListener('play',function() {
                video.play();
            });
            video.play();
            // if(Hls.isSupported()) {
            //     var hls = new Hls();
            //     hls.loadSource(videoSrc); // 동영상경로
            //     hls.attachMedia(video);
            //     hls.on(Hls.Events.MANIFEST_PARSED,function() {
            //         video.play();
            //     });
            // }else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                
            // }

            $('button[name=btn_play]').text("재생")
            $('button[name=btn_play]').addClass("btn-outline-success");
            $('button[name=btn_play]').removeClass("btn-outline-danger");
            btnObj.text("정지");
            btnObj.addClass("btn-outline-danger");
            btnObj.removeClass("btn-outline-success");
        }else{
            fnPlayStop();
        }
        
    
    });
    $("body").on('click', '#accordion #collapse'+i+' #btn_download', function(e){
        e.preventDefault();
        path = $(this).data("path");
        btnObj = $(this);
        url = protocol + "//" + document.domain + ":" + location.port + "/download_file"+path
        window.open(url);
        
    
    });
}
</script>    
{% endblock %}
