{% extends "base.html" %}
{% block content %}
<style type="text/css">
  .img_thumb { 
    width: 40px;
    height: 40px;
  }
  .container {
    max-width: 1024px;
  }
</style>
<div>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#" data-top100Key="1">오늘</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  data-top100Key="2">국내 급상승</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  data-top100Key="3">빌보드 K-POP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  data-top100Key="4">해외 급상승</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  data-top100Key="5">빌보드 HOT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  data-top100Key="6">VIBE노래방</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  data-top100Key="7">국내 발라드</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  data-top100Key="8">국내 댄스</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  data-top100Key="9">음악검색</a>
        </li>
      </ul>
    </div>
      <div id="list" class="card-body">
        <div id="list_title"></div>
        {{ macros.m_hr_head_top() }}
        {{ macros.m_row_start('0') }}
        {{ macros.m_row_end() }}
        <div id="list_div"></div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="audioPlay" hidden>
    <video id="video"></video>
  </div>
  <div class="modalinner">
    <div class="modalinnerbyAlbum"></div>
    <div class="modalinnerbyArtist"></div>  
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="{{ url_for('.static', filename='modal.js') }}?v={{arg['v'] }}"></script>
<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var current_data = null;
var current_page = 1;
var formData = null;

$(document).ready(function(){
  $('.card-header-pills .nav-link').first().click();
  
  
});

$("body").on('click', '.card-header-pills .nav-link', function(e){
  e.preventDefault();
  $('.card-header-pills .nav-link').removeClass("active");
  $(this).addClass("active");
  request_search($(this));
  
});

function request_search(obj) {
  
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/top100',
    type: "POST", 
    cache: false,
    data: {'top100Key':$(obj).data("top100key")},
    dataType: "json",
    success: function (data) {
      if (scroll == true) {
        window.scrollTo(0,0);
      }
      if( data.ret == "success" ){
        make_list(data.content.response.result.chart)
        downloadEventAdd("TOP100");
      }
    }
  });
}

// 페이지 구성 함수
function make_list(chart) {

  
  str = "";
  for( i = 0 ; i < chart.items.trackTotalCount ; i++ ){
    track = chart.items.tracks.track[i];
    
    str += m_row_start();
    // tmp = '<center><input type="checkbox" id="chk_track_49356016" class="input_check"></center>';
    // str += m_col(1, tmp)
    if( track.rank != undefined && track.rank.currentRank != undefined ){
      
      tmp = track.rank.currentRank;
  
      if( track.rank.rankVariation != 0 ){
        arrow = "";
        color = "";
        if ( track.rank.rankVariation > 0 ){
          arrow = "▲";
          color = "red";
        }else if ( track.rank.rankVariation < 0 ){
          arrow = "▼";
          color = "blue";
        }
        tmp += ' <span style="color: '+color+'; font-weight: bold;"> '+Math.abs(track.rank.rankVariation)+ arrow + '</span>';
      }

    }else{
      tmp = i+1;
    }
    
    str += m_col(1, tmp);
    
    tmp = '<img src="'+track.album.imageUrl+'" alt="'+track.album.albumTitle+'" class="img_thumb">';
    str += m_col(1, tmp);

    tmp = track.trackTitle;
    str += m_col(3, tmp);

    tmp = "";
    if( track.artists.artist[0] == undefined ){
      artistName = track.artists.artist.artistName;
      artistId = track.artists.artist.artistId;
      tmp = '<a href="#" alt = "'+artistId+'" class="alert-link text-dark artistView">'+ artistName + '</a>';
    }else{
      for( var j in track.artists.artist){
        if( j > 0 ){
          tmp += ", ";
        }
        artistName = track.artists.artist[j].artistName;
        artistId = track.artists.artist[j].artistId;
        tmp += '<a href="#" alt = "'+artistId+'" class="alert-link text-dark artistView">'+ artistName + '</a>';
      }
    }

    
    str += m_col(3, tmp);
    tmp = '<a href="#" alt = "'+track.album.albumId+'" class="alert-link text-dark albumView">'+ track.album.albumTitle + '</a>';
    str += m_col(2, tmp);
    btn_str = m_button('btn_download', '다운로드', [{'key':'trackid', 'value':track.trackId}]);
    btn_str += m_button('btn_play', '재생', [{'key':'trackid', 'value':track.trackId}]);
    tmp = m_button_group(btn_str);
    str += m_col(2, tmp, "right");
    str += m_row_end();
  }
  
  document.getElementById("list_div").innerHTML = str;
  btn_str = m_button('btn_download_all', '전체다운로드', [{'key':'top100Key', 'value':$('.card-header-pills .nav-link.active').data("top100key")}]);
  tmp = m_button_group(btn_str);

  title = m_row_start();
  title = '<div class="container">';
  title += '  <div class="row justify-content-between">';
  title += '    <div class="col-8 text-left">';
  title += '      '+chart.chartDate + '<br>' + chart.description;
  title += '    </div>';
  title += '    <div class="col-4 text-right">';
  title += '      ' + tmp;
  title += '    </div>';
  title += '  </div>';
  title += '</div>';
  // tmp = ;
  // title += m_col(3, tmp)
  
  // title += m_col(1, tmp);
  // title += m_row_end();
  document.getElementById("list_title").innerHTML = title;
  
}

$("body").on('click', '.albumView', function(e){
  e.preventDefault();
  albumModalView($(this).attr("alt"));
});
$("body").on('click', '.artistView', function(e){
  e.preventDefault();
  artistModalView($(this).attr("alt"));
});

</script>    
{% endblock %}
