{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '일반', true) }}
      {{ macros.m_tab_head2('auto', '자동', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
   {{ macros.m_tab_content_start('normal', true) }}
    {{ macros.setting_input_text('naverId', '네이버 아이디', value=arg['naverId'], desc=['네이버 아이디']) }}

    <div class="row justify-content-center">
      <div class="col-8">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>네이버 암호</strong></br>
          <hr style="width: 100%; margin:0px; background-color:#808080;" class="my-2">
          <div class="row">
            <div class="col">
              2단계 인증 사용시<br>
    NAVER - 내정보 - 보안설정 - 비밀번호 - 2단계인증 - 2단계 인증 관리<br>
        애플리케이션 비밀번호 관리 > 애플리케이션 비밀번호 생성<br>
        1. 종류선택 : 직접입력<br>
        2. 생성후 나온 암호 입력<br>
            </div>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    {{ macros.setting_input_text('naverPw', '네이버 암호', value=arg['naverPw'], desc=['네이버 암호'], type='password') }}
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>ffmpeg 사용여부</strong></br>
          <hr style="width: 100%; margin:0px; background-color:#808080;" class="my-2">
          <div class="row">
            <div class="col">
              On  : ffmpeg로 mp3를 다운받습니다.<br>
              &nbsp;&nbsp;1. 다운로드시 320K 로 다운받아집니다.<br>
              &nbsp;&nbsp;2. TAG가 들어가 있지 않음. (제목, 가수, 트랙넘버, 자막만 다운로드후 세팅함.)<br>
              &nbsp;&nbsp;3. curl 대비 느림.<br>
              Off : curl 로 mp3를 다운받습니다.<br>
              &nbsp;&nbsp;1. 다운로드시 320K로 받지만 불특정하게 128K 로 다운받아집니다.<br>
              &nbsp;&nbsp;2. VIBE에서 제공하는 음원을 받으므로 TAG가 거의 정확하게 들어가 있음<br>
              &nbsp;&nbsp;3. ffmpeg 대비 빠름.<br>
            </div>
          </div>
          <hr style="width: 100%; margin:0px; background-color:#808080;" class="my-2">
          <strong>저장 경로, 파일 설정</strong></br>
          <hr style="width: 100%; margin:0px; background-color:#808080;" class="my-2">
          <div class="row">
            <div class="col-3">
              기본저장 경로<br>
              기본저장 파일명
            </div>
            <div class="col-9 align-self-center">
              단일파일 다운로드시 적용되는 값
            </div>
          </div>
          <hr style="width: 100%; margin:0px; background-color:#808080;" class="my-2">
          <div class="row">
            <div class="col-3">
              TOP100 저장 경로<br>
              TOP100 저장 파일명<br>
              앨범 저장 경로<br>
              앨범 저장 파일명<br>
            </div>
            <div class="col-9 align-self-center">
              TOP100, 앨범 전체다운로드시 적용되는 값
            </div>
          </div>
          <hr style="width: 100%; margin:0px; background-color:#808080;" class="my-2">
          <strong>설정 키워드</strong></br>
          <div class="row">
            <div class="col-3">
              %albumTitle%
            </div>
            <div class="col-9">
              앨범타이틀
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              %trackNumber%
            </div>
            <div class="col-9">
              트랙번호
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              %trackTitle%
            </div>
            <div class="col-9">
              제목
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              %artist%
            </div>
            <div class="col-9">
              가수
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              %today%
            </div>
            <div class="col-9">
              현재일자[ex)2021-07-15]
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              %rank%
            </div>
            <div class="col-9">
              랭크[ TOP100 한정 ]
            </div>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    
    {{ macros.setting_checkbox('ffmpegDownload', 'ffmpeg 사용여부', value=arg['ffmpegDownload'], desc='ffmpeg 사용여부') }}
    {{ macros.setting_input_text_and_buttons('savePath', '기본저장 경로', [['btn_add_path', '경로추가']],value=arg['savePath'], desc=['저장 경로']) }}
    {{ macros.setting_input_text('saveFileName', '기본저장 파일명', value=arg['saveFileName'], desc=['기본저장 파일명']) }}
    {{ macros.setting_input_text_and_buttons('savePathByTOP100', 'TOP100 저장 경로', [['btn_add_path', '경로추가']],value=arg['savePathByTOP100'], desc=['TOP100 저장 경로']) }}
    {{ macros.setting_input_text('saveFileNameByTOP100', 'TOP100 저장 파일명', value=arg['saveFileNameByTOP100'], desc=['TOP100저장 파일명']) }}
    {{ macros.setting_input_text_and_buttons('savePathByAlbum', '앨범 저장 경로', [['btn_add_path', '경로추가']],value=arg['savePathByAlbum'], desc=['앨범 저장 경로']) }}
    {{ macros.setting_input_text('saveFileNameByAlbum', '앨범 저장 파일명', value=arg['saveFileNameByAlbum'], desc=['앨범 저장 파일명']) }}
    {{ macros.setting_input_text_and_buttons('savePathByArtist', '가수별 저장 경로', [['btn_add_path', '경로추가']],value=arg['savePathByArtist'], desc=['가수별 저장 경로']) }}
    {{ macros.setting_input_text('saveFileNameByArtist', '가수별 저장 파일명', value=arg['saveFileNameByArtist'], desc=['가수별 저장 경로']) }}
   {{ macros.m_tab_content_end() }}
   {{ macros.m_tab_content_start('auto', false) }}
    {{ macros.setting_global_scheduler_sub_button(arg['scheduler'], arg['is_running']) }}
    {{ macros.setting_input_text('setting_interval', '스케쥴링 실행 정보', value=arg['setting_interval'], col='3', desc=['Inverval(minute 단위) 이나 Cron 설정']) }}
    {{ macros.setting_checkbox('top100Download', 'TOP100 다운로드', value=arg['top100Download'], desc='TOP100 다운로드') }}
    <!--
    {{ macros.setting_checkbox('newAlbumDownload1', '최신앨범[국내] 다운로드', value=arg['newAlbumDownload1'], desc='최신앨범[국내] 다운로드') }}
    {{ macros.setting_checkbox('newAlbumDownload2', '최신앨범[해외] 다운로드', value=arg['newAlbumDownload2'], desc='최신앨범[해외] 다운로드') }}
    -->
    {{ macros.setting_checkbox('auto_start', '시작시 자동실행', value=arg['auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
    {{ macros.m_tab_content_end() }}
  </div> <!--전체-->
</form>
<div id="modalImport">
  
</div>

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var user_auth = "{{ arg['gdrive_user_auth'] }}";
var sa_auth = "{{ arg['gdrive_sa_auth'] }}";
var use_av = "{{ arg['use_av'] }}";

$(document).ready(function(){
  $()
});

$('#btn_add_path').click((evt) => {
    let add_path = '/';
    m_select_local_file_modal("경로 선택", '/', 'true', function(result){
      $('#savePath').val(result);
    });
    return false;
});

$("body").on('click', '#btn_register', function(e){
  e.preventDefault();
  var formData = get_formdata('#item_register_form');
  
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/register_item',
    type: "POST",
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: ' +data.msg+ '</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
    }
  });
});

</script>    
{% endblock %}
